* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(244, 157, 142);
}
/* __________ HEADER  */
header {
  padding: 1em;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header ul li {
  list-style: none;
}
header .fab {
  color: beige;
  font-size: 1.5em;
}

h1,
form,
.todo-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
form,
.todo-container {
  margin-top: 2em;
}
h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.credit {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  letter-spacing: 1em;
  color: beige;
}
/* +++++++ INPUT STYLE */
#todo-button,
#todo-input {
  padding: 1em;
  color: black;
  background-color: beige;
  border: none;
  outline: none;
}
#todo-input {
  width: 26em;
}
#todo-input::placeholder {
  color: rgb(42, 42, 42);
  opacity: 0.8;
  font-size: 0.8em;
}
#todo-button {
  transition: all 0.25s ease;
  cursor: pointer;
}
#todo-button:hover {
  color: white;
  background-color: rgb(255, 209, 71);
  border: none;
}
/* ++++++++ LIST ITEMS STYLE  */
.todo-div {
  width: 24em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(248, 220, 137);
  color: rgb(59, 59, 59);
}
.todo-list-item {
  list-style: none;
  padding: 0.5em;
}
.delete-button {
  color: white;
  background-color: tomato;
  border: none;
  cursor: pointer;
  padding: 0.4em;
}

.delete-icon {
  padding: 0.5em;
  pointer-events: none;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
  /* background-color: rgb(183, 183, 183); */
}
